.fct-container {
    background-color: white;
    margin: 0 0 3rem 0;
    width: 100%;

    .btns {
        list-style: none;
        font-size: 1.3rem;
        background-color: white;
        margin: 1rem 0 1rem 0;
        transition: opacity 0.4s;
    }

    .btn {
        &:hover {
            color: $color-primary;
            background: rgba($color: #cbc1d8, $alpha: 1.0);
            opacity: 0.9;
        }
    }

    .btn1 {
        @include btn-menus
    }

    .btn1::before {
        @include btn-before;
        content: "1";
    }
}